
/* Your CSS Code here. */
.heading {
  font-size: 20px;
  color: white;
  text-decoration: underline;
}

#heading {
  width: 200px;
  background-color: purple;
  border-left: 5px solid green; /* Combine border-left-width and border-left-color */
  padding: 10px;
}
#main{
	width: 200px;
}